body {
  position: fixed;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #FFF;
  letter-spacing: 0;
}

.content {
    height:100%;
    width: 100%;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.row, .col {
    padding: 0;
    margin: 0;
}

.center {
    padding: 20px;
    margin: auto;
}

.site-info {
    display: none;
    background-color: #FFF;
    color: #000;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.main-pane {
    position: relative;
    height:100%;
    width: 100%;
}



.site-info.in {
    display: inline-block;
    width: 40%;
}

.site-info.in  ~ .main-pane {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.site-info .info {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
}

.site-info .info h4 {
    text-decoration: underline;
}

.site-info .info blockquote {
    font-size: 10px;
    color: rgb(103, 103, 103);
    text-align: justify;
}

.site-info .info .thanks-images {
    max-width: 600px;
}

.site-info .btn-close-help {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  padding: 2px;
  color: rgb(126, 126, 126);
  border-radius: 3px;
}

.site-info .btn-close-help:hover {
  color: #666565;
}

.site-info .btn-close-help *{
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}

.site-version {
    padding-top: 10px;
    font-weight: 100;
    font-size: 12px;
    font-style: italic;
    text-align: right;
}

.map {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.map .img-over-info {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
}

.map .img-over-info span{
  padding: 2px;
  color: #FFF;
  font-size: 12px;
}

/*    */

.map.in {
    height: calc(100% - 65px);
}

ul.list-img {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  height: 65px;
  overflow-x: auto;
  background-color: #ddd;
}

ul.list-img li.list-element {
  display: inline;
  width: 60px;
  height: 60px;
  color: #FFF;
  cursor: pointer;
}


ul.list-img li.list-element  img {
    font-weight: 100;
    padding: 5px;
    width: 65px;
    height: 65px;
}

.list-img .list-element .block-info .scene-info {
    display: inline-block;
    padding: 3px;
    font-size: 12px;
}

/*    */

.option-panel {
    position: absolute;
    overflow-y: scroll;
    width: 300px;
    height: auto;
    max-height: 300px;
    z-index: 1;
    color: #000;
    background-color: rgba(230, 230, 236, 0.95);
    margin: 0;
    padding: 0;
    top: 3px;
    left: 3px;
    border-radius: 3px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.option-panel .img-display-options {
    padding: 10px 15px;
    overflow-x: hidden;
    font-size: 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
}

.img-display-options .toggle-group {
  display: block;
}

.img-display-options .toggle-group *,
.img-display-options .inputHisto * {
  display: inline-block;
  font-size: 8px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.img-display-options .toggle-container {
  margin: 1px;
}

.img-display-options .toggle:hover {
  border-color: inherit;
}

.img-display-options input:checked+.toggle {
  background: rgba(0, 0, 0, 0);
  color: #000;
}

.img-display-options span {
  display: block;
}

/*    */

.scenes-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.77);
  z-index: 10;
}

.scenes-info span {
  display: block;
}

.id:before {
    content: 'Scene-id: '
}

.date:before {
    content: 'Date: '
}

.rgb:before {
    content: 'RGB: '
}

.loading-map {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: #000;
    font-size: 18px;
    text-align: center;
    z-index: 100;
    opacity: 1;
}

.metaloader,
.errorMessage {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #FFF;
  text-align: center;
  z-index: 1000;
  opacity: 1;
}

.errorMessage {
  color: #ff0000;
  bottom: 5px;
  left: 5px;
  font-weight: 700;
}

.metaloader.off,
.loading-map.off{
    opacity: 0;
    -o-transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all ease 1.5s;
    visibility:hidden;
}

/*.errorMessage {
    z-index: 10;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 3px;
    border-radius: 2px;
}*/

.middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.middle-center * {
    display: block;
    padding: 5px;
}

.map-top-right {
  position: absolute;
  display: block;
  top: 10px;
  right: 35px;
  z-index: 10;
}

.map-bottom-right {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 5px;
  z-index: 10;
}

.map-bottom-right  a,
.map-bottom-right  button {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #FFF;
}

.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}

@media(max-width: 767px){

  .site-info.in {
      width: 100%;
  }

  .site-info.in ~ .main-pane {
      display: none;
  }

  .option-panel {
    width: 200px;
  }
  .option-panel .img-display-options {
      font-size: 8px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
  }
  .option-panel .img-display-options .inputHisto * ,
  .img-display-options .toggle-group * {
      font-size: 6px;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
  }
  .mapboxgl-ctrl-attrib {
      font-size: 10px;
  }

}
